body {
    background-color: white;
    font-family: 'Trebuchet MS', sans-serif;
}
header {
    text-align: center;
}
header img {
    width: 300px;
    background-image: linear-gradient(#FFE346, #70C6FF);
    border-radius: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
header h1, header p {
    margin: 0;
    padding: 0;
}
header a {
    text-decoration: none;
}
header svg {
    width: 60px;
    height: 60px;
    fill: black;
    transition: ease 0.3s;
}
header div:hover svg {
    fill: #0000007c;
    transition: ease 0.3s;
}
header a:hover svg{
    fill: #FFDA00;
    transition: ease 0.3s;
}