@media (pointer:none), (pointer:coarse) {
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    max-width: 1100px;
    margin: 20px auto;
}



header a:hover svg, .links a:hover svg {
    fill: #FFDA00;
    transition: ease 0.3s;
}
header img, .skillBar span, .projectgroup .badges div {
    background-image: linear-gradient(to left, #1f9ef3, #7657ff);
}



header {
    padding: 20px;
}
header img {
    width: 130px;
    border-radius: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 15px;
}
header p {
    text-align: center;
    margin: 0 0 2px 0;
}
header #name {
    font-size: 30px;
    font-weight: 600;
}
header #job {
    font-size: 17px;
}
header a {
    text-decoration: none;
}
header svg {
    width: 25px;
    height: 25px;
    fill: black;
    transition: ease 0.3s;
}



h1 {
    text-align: center;
    margin: 20px 40px;
}
h2 {
    font-size: 20px;
}
p {
    font-size: 14px;
}
hr {
    height: 1px;
    background-color: #00000028;
    border: none;
    margin: 0 20px;
}


.skills, .projects {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 40px;
    justify-content: center;
}
.skillgroup, .projectgroup {
    margin: 10px 1%;
    padding: 20px 3%;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.skillgroup, .projectgroup {width: 42%}
@media only screen and (max-width: 700px) {.skillgroup, .projectgroup {width: 100%}}
.skillgroup:hover, .projectgroup:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
}



.skillgroup h2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.skillTitle img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.skill {
    margin: 10px 0px;
}
.skill p {
    margin: 0;
    text-align: right;
}
.skillBar {
    background-color: rgba(0, 0, 0, 0.062);
    display: block;
    height: 10px;
    margin-top: 0px;
    border-radius: 4px;
}
.skillBar span {
    display: block;
    height: 100%;
    border-radius: 4px;
}
#python {width: 100%}
#clustering {width: 100%}
#classification {width: 80%}

#vision {width: 80%}
#nlp {width: 60%}
#handwriting {width: 100%}

#bigdata {width: 100%}
#database {width: 60%}
#cloud {width: 80%}

#analysis {width: 80%}
#visualization {width: 80%}
#cleaning {width: 80%}




.projectgroup img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.projectgroup h2 {
    text-align: left;
    margin: 10px 0 2px 0;
}
.links {
    text-align: left;
}
.links a {
    margin: 0;
    padding: 0;
}
.links svg {
    margin: 0;
    padding: 0;
}
.projectgroup p {
    text-align: left;
    margin: 10px 0px;
}
.projectgroup a {
    text-decoration: none;
}
.projectgroup svg {
    width: 22px;
    height: 22px;
}
.projectgroup .badges {
    margin: 15px 0 0 0;
}
.projectgroup .badges div {
    color: white;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 1px;
    padding: 2px 6px;
    border-radius: 6px;
}